button.x-button {
    box-shadow: inset 0 0 0.25em 0.25em #00000066;
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    filter: drop-shadow(0.2em 0.2em 0.2em #00000044) brightness(1.0);
    transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
    border-radius: 1em;
}

button.x-button:hover {
    box-shadow: inset 0 0 0.25em 0.25em #00000088;
    filter: drop-shadow(0.2em 0.2em 0.2em #00000055) brightness(1.2);
}

button.x-button:active {
    box-shadow: inset 0 0 0.25em 0.25em #ffffff22;
    filter: drop-shadow(0.2em 0.2em 0.2em #00000033) brightness(0.8);
}